<!-- 
File: index.ejs
Student: Gustavo Frei 
Student ID: 301290162 
Date: May 30, 2023 

-->

<%- include partials/main_nav.ejs %>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>
   
  <h4> <%= title %> page</h4>
  <div class="container">  <p>Welcome to Gustavo Frei's Portfolio, a space dedicated to showcasing my journey as a software engineering student and highlighting my projects, skills, and personal story.

    <br><br>My mission is to provide an immersive and informative experience that reflects my passion for technology, innovation, and continuous learning. Through this portfolio, I aim to inspire and engage visitors by sharing my creative projects, technical expertise, and growth as a software engineer.
    
    <br><br>By presenting a carefully curated collection of my work, 
  I aim to demonstrate my ability to solve complex problems, develop robust software solutions, and apply industry best practices. I believe that every project holds a story, and I am committed to telling these stories through well-documented 
    case studies and engaging project descriptions.</p></div>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>

</body>
</html>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>



