<!-- 
File: services.ejs
Student: Gustavo Frei 
Student ID: 301290162 
Date: May 30, 2023 

-->



<%- include partials/main_nav.ejs %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>
  <h4> <%= title %> page</h4>
    <!-- Software Development Assistance -->

    <h5>Software Development Assistance</h5>
  <img src=".\Assets\images\software-development.jpg" alt="software-development" class="services">
  
  <p class="project-description">Assist in developing software applications by working on specific tasks assigned by software engineers or developers. This may include coding, testing, debugging, or documenting the software components.</p>
  <br>
  <!-- Version Control Management -->
  <h5>Version Control Management</h5>
  <img src="./Assets/images/git.png" alt="git"class="services">
  <p class="project-description">Assist in managing version control systems like Git. This involves branching, merging, resolving conflicts, and ensuring proper code repository organization.</p>
<br>
  <!-- Technical Support -->
  <h5>Technical Support</h5>
  <img src="./Assets/images/tech-support.png" alt="tech-support"class="services">
  <p class="project-description">Offer technical support to end-users or clients by troubleshooting software-related issues, providing guidance, or escalating problems to the appropriate team members</p>
  <br>
  <!-- Bug Fixing and Troubleshooting-->
  <h5>Bug Fixing and Troubleshooting</h5>
  <img src="./Assets/images/bug.jpg" alt="bug" class="services">
  <p class="project-description">Help identify and fix software bugs or issues reported by users or other team members. This involves analyzing problem reports, reproducing errors, and implementing solutions or workarounds.</p>
  
  
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
  <br>
  <br>
</body>
</html>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>